.app {
  display: flex;
}

.sidebar {
  width: 280px; /* largura ajustável da barra lateral */
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  background-color: #fff;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

/* Centraliza imagem + mês */
.header {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

.logo-img {
  width: 250px;
  height: auto;
  margin-bottom: 4px;
}
