/* Reset básico */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

select, input, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-weight: bold;
}

button.btn-add {
  background-color: #008000;
  color: white;
  border: none;
}

button.btn-delete{
  background-color: #ff0000;
  color: white;
  border: none;
}

button.btn-edit {
  background-color: #0000FF;
  color: white;
  border: none;
}

.form-group {
  margin-bottom: 10px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.task-grid {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .main-content {
    padding: 10px;
  }
}

